<div>
    <h1>
        Nombre {{{title}}}
    </h1>
    <p>Detalle {{{description}}}</p>
    <p>Precio {{{price}}}</p>
    <p>Codigo {{{code}}}</p>
    <p>Stock {{{stock}}}</p>
    <p>Id {{{id}}}</p>



</div>