<div>
    <form onsubmit="return searchId()">
        <input type="text" id="idsearch" placeholder="ID del producto">
        <input type="submit" value="Buscar">
       

    </form>
</div>

<div>
    <h1>
       Producto por ID {{{id}}}
    </h1>
        <div>
            <p><b>Nombre :</b> {{{title}}}</p>
            <p><b>Detalle :</b> {{{description}}}</p>
            <p><b>Precio :</b> {{{price}}}</p>
            <p><b>Codigo :</b> {{{code}}}</p>
            <p><b>Stock :</b> {{{stock}}}</p>

        </div>


</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
